.nutrition-container{
    width: 254px;
    height: auto;
    gap: 40px;
    display:flex;
    flex-direction:column;
}
.container{
    display: flex;
    align-items: center;
    background-color:#FBFBFB;
    width:100%;
    height: 124px;
    border-radius: 5px;
}
.container-img {
    padding: 30px;
}
.container-infos{
    display: flex;
    flex-direction: column;
    line-height: 24px;
}