.nutrition-container {
  width: 254px;
  height: auto;
  gap: 45px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  width: 100%;
  height: 133px;
  border-radius: 5px;
}
.container-img {
  padding: 30px;
}
.container-infos {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
@media screen and (max-width: 1400px) {
  .nutrition-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 300px;
    height: 100px;
  }
  .container-infos {
    padding: 15px;
  }
  .container-img {
    padding: 15px;
  }
}
  