.sidebar{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    left: 0;
    min-height: 780px;
    position: absolute;
    width: 120px;
}
.icon-container{
    width: 100%;
    margin-top: 200px;
}
.nav-icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.copyright{
    color:white;
    transform: rotate(-90deg);
    width: 140px;
    font-weight: 500;
    font-size: 12px;
}