.greatings {
  margin-bottom: 70px;
}
.user-name {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 30px;
}
.user-text {
  font-weight: 400;
  font-size: 18px;
}
.firstname{
    color: rgba(255, 1, 1, 1)
}